In [2]:
import pandas as pd
import numpy as np
pd.set_option('max_column',None)

In [15]:
till_2018=pd.read_excel(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\till_2018.xlsx')
df_2019=pd.read_excel(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\2019_HI_Data.xlsx')
df_2020=pd.read_excel(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\2020_Happiness_IndexData.xls')
df_2021=pd.read_excel(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\2021_Happiness_IndexData.xls')

In [16]:
till_2018.head()

,Country name,Year,Life Ladder,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect,Confidence in national government,Democratic Quality,Delivery Quality,Standard deviation of ladder by country-year,Standard deviation/Mean of ladder by country-year,GINI index (World Bank estimate),"GINI index (World Bank estimate), average 2000-16","gini of household income reported in Gallup, by wp5-year","Most people can be trusted, Gallup","Most people can be trusted, WVS round 1981-1984","Most people can be trusted, WVS round 1989-1993","Most people can be trusted, WVS round 1994-1998","Most people can be trusted, WVS round 1999-2004","Most people can be trusted, WVS round 2005-2009","Most people can be trusted, WVS round 2010-2014"
0,Afghanistan,2008,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686,0.517637,0.258195,0.612072,-1.929690,-1.655084,1.774662,0.476600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,2009,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035,0.583926,0.237092,0.611545,-2.044093,-1.635025,1.722688,0.391362,NaN,NaN,0.441906,0.286315,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,2010,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766,0.618265,0.275324,0.299357,-1.991810,-1.617176,1.878622,0.394803,NaN,NaN,0.327318,0.275833,NaN,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,2011,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109,0.611387,0.267175,0.307386,-1.919018,-1.616221,1.785360,0.465942,NaN,NaN,0.336764,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,2012,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620,0.710385,0.267919,0.435440,-1.842996,-1.404078,1.798283,0.475367,NaN,NaN,0.344540,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
hi_2018=till_2018[['Year','Country name','Life Ladder','Log GDP per capita','Social support','Healthy life expectancy at birth','Freedom to make life choices','Generosity','Perceptions of corruption']]

In [18]:
hi_2018.rename(columns={'Country name':'Country','Life Ladder':'Happiness Score'},inplace=True)
hi_2018.head()

C:\Users\rutuj\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,2008,Afghanistan,3.723590,7.168690,0.450662,50.799999,0.718114,0.177889,0.881686
1,2009,Afghanistan,4.401778,7.333790,0.552308,51.200001,0.678896,0.200178,0.850035
2,2010,Afghanistan,4.758381,7.386629,0.539075,51.599998,0.600127,0.134353,0.706766
3,2011,Afghanistan,3.831719,7.415019,0.521104,51.919998,0.495901,0.172137,0.731109
4,2012,Afghanistan,3.782938,7.517126,0.520637,52.240002,0.530935,0.244273,0.775620

In [19]:
df_2019['Year']=pd.to_datetime(2019,format='%Y').year

In [20]:
hi_2019=df_2019[['Year','Country','Happiness score','Explained by: GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption']]
hi_2019.rename(columns={'Happiness score':'Happiness Score','Explained by: GDP per capita':'Log GDP per capita','Explained by: Social support':'Social support','Explained by: Healthy life expectancy':'Healthy life expectancy at birth','Explained by: Freedom to make life choices':'Freedom to make life choices','Explained by: Generosity':'Generosity','Explained by: Perceptions of corruption':'Perceptions of corruption'},inplace=True)
hi_2019.head()

C:\Users\rutuj\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,2019,Finland,7.7689,1.340243,1.587276,0.986145,0.595895,0.152708,0.392913
1,2019,Denmark,7.6001,1.383439,1.572595,0.996019,0.592356,0.252320,0.410473
2,2019,Norway,7.5539,1.487767,1.581548,1.028123,0.603500,0.271304,0.340884
3,2019,Iceland,7.4936,1.380163,1.623651,1.025653,0.590905,0.354356,0.117980
4,2019,Netherlands,7.4876,1.396020,1.521903,0.999314,0.557075,0.322440,0.297978

In [21]:
#hi_2019=df_2019[['Year','Country','Happiness score','Explained by: GDP per capita','Explained by: Social support','Explained by: Healthy life expectancy','Explained by: Freedom to make life choices','Explained by: Generosity','Explained by: Perceptions of corruption']]
df_2020['Year']=pd.to_datetime(2020,format='%Y').year
hi_2020=df_2020[['Year','Country name','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption']]
hi_2020.rename(columns={'Country name':'Country','Ladder score':'Happiness Score','Logged GDP per capita':'Log GDP per capita','Healthy life expectancy':'Healthy life expectancy at birth'},inplace=True)
hi_2020.head()

C:\Users\rutuj\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,2020,Finland,7.8087,10.639267,0.954330,71.900826,0.949172,-0.059482,0.195445
1,2020,Denmark,7.6456,10.774001,0.955991,72.402504,0.951444,0.066202,0.168489
2,2020,Switzerland,7.5599,10.979933,0.942847,74.102448,0.921337,0.105911,0.303728
3,2020,Iceland,7.5045,10.772559,0.974670,73.000000,0.948892,0.246944,0.711710
4,2020,Norway,7.4880,11.087804,0.952487,73.200783,0.955750,0.134533,0.263218

In [22]:
df_2021['Year']=pd.to_datetime(2021,format='%Y').year
hi_2021=df_2021[['Year','Country name','Ladder score','Logged GDP per capita','Social support','Healthy life expectancy','Freedom to make life choices','Generosity','Perceptions of corruption']]
hi_2021.rename(columns={'Country name':'Country','Ladder score':'Happiness Score','Logged GDP per capita':'Log GDP per capita','Healthy life expectancy':'Healthy life expectancy at birth'},inplace=True)

C:\Users\rutuj\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [23]:
hi_2021.head()

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,2021,Finland,7.8421,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846
1,2021,Denmark,7.6195,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838
2,2021,Switzerland,7.5715,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698
3,2021,Iceland,7.5539,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865
4,2021,Netherlands,7.4640,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938

In [24]:
happiness_score=pd.concat([hi_2018,hi_2019,hi_2020,hi_2021])

In [25]:
happiness_score[happiness_score['Year']==2021]

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
0,2021,Finland,7.8421,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846
1,2021,Denmark,7.6195,10.933176,0.954410,72.699753,0.945639,0.030109,0.178838
2,2021,Switzerland,7.5715,11.117368,0.941742,74.400101,0.918788,0.024629,0.291698
3,2021,Iceland,7.5539,10.877768,0.982938,73.000000,0.955123,0.160274,0.672865
4,2021,Netherlands,7.4640,10.931812,0.941601,72.400116,0.913116,0.175404,0.337938
...,...,...,...,...,...,...,...,...,...
144,2021,Lesotho,3.5118,7.925777,0.786871,48.700001,0.714954,-0.130536,0.915377
145,2021,Botswana,3.4665,9.781536,0.784171,59.269188,0.824394,-0.246159,0.800619
146,2021,Rwanda,3.4147,7.676118,0.552339,61.399727,0.896758,0.060526,0.166801
147,2021,Zimbabwe,3.1448,7.942595,0.750470,56.200840,0.676700,-0.047346,0.820999
148,2021,Afghanistan,2.5229,7.694710,0.462596,52.492615,0.381749,-0.101684,0.924338

In [26]:
happiness_score.to_csv(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\happiness_score.csv')

In [27]:
global_hi=happiness_score.groupby(['Year'],as_index=False)['Happiness Score'].mean()

In [33]:
top_10_data1=happiness_score.sort_values(by=['Happiness Score'],ascending=False)

In [34]:
top_10_data1

,Year,Country,Happiness Score,Log GDP per capita,Social support,Healthy life expectancy at birth,Freedom to make life choices,Generosity,Perceptions of corruption
397,2005,Denmark,8.018934,10.704770,0.972372,69.599998,0.971135,NaN,0.236522
399,2008,Denmark,7.970892,10.733475,0.953912,70.080002,0.969788,0.267413,0.247505
495,2018,Finland,7.858107,10.636060,0.962155,71.900002,0.937807,-0.131735,0.198605
0,2021,Finland,7.842100,10.775202,0.953603,72.000000,0.949268,-0.097760,0.185846
398,2007,Denmark,7.834233,10.744484,0.954201,69.919998,0.932086,0.235316,0.206006
...,...,...,...,...,...,...,...,...,...
274,2016,Central African Republic,2.693061,6.465948,0.290184,44.900002,0.624057,0.053440,0.859073
1458,2013,Syria,2.687553,8.307246,0.585450,58.759998,0.454883,0.224178,0.663431
9,2017,Afghanistan,2.661718,7.497755,0.490880,52.799999,0.427011,-0.112198,0.954393
152,2020,Afghanistan,2.566900,7.462861,0.470367,52.590000,0.396573,-0.096429,0.933687
148,2021,Afghanistan,2.522900,7.694710,0.462596,52.492615,0.381749,-0.101684,0.924338

In [38]:
top_10_data=happiness_score.sort_values(by=['Year','Happiness Score'],ascending=False)

In [44]:
top_10_data[['Year','Happiness Score']].value_counts()

Year  Happiness Score
2005  4.718734           1
2017  4.078620           1
      4.441306           1
      4.424491           1
      4.360805           1
                        ..
2012  3.550610           1
      3.333048           1
      3.193469           1
      3.164491           1
2021  7.842100           1
Length: 2162, dtype: int64

In [45]:
top_10_data.to_csv(r'C:\Users\rutuj\OneDrive\Documents\Northeastern University MS in Data Analytics Engineering\5. Computation & Visualization\Project 1\top_10_data_1.csv')

In [27]:
df_2020.groupby('Regional indicator')['Ladder score'].mean()

Regional indicator
Central and Eastern Europe            5.883818
Commonwealth of Independent States    5.358342
East Asia                             5.714850
Latin America and Caribbean           5.981786
Middle East and North Africa          5.227159
North America and ANZ                 7.173525
South Asia                            4.475443
Southeast Asia                        5.383367
Sub-Saharan Africa                    4.383495
Western Europe                        6.899219
Name: Ladder score, dtype: float64

In [31]:
global_hi

    Year  Happiness Score
0   2005         6.446164
1   2006         5.196935
2   2007         5.418291
3   2008         5.418554
4   2009         5.457640
5   2010         5.496782
6   2011         5.424088
7   2012         5.443751
8   2013         5.394568
9   2014         5.389023
10  2015         5.404037
11  2016         5.399414
12  2017         5.460421
13  2018         5.502134
14  2019         5.407081
15  2020         5.473240
16  2021         5.532832